<?xml version="1.0" encoding="utf-8" ?>

<Wix
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <Bundle
        Name="$(var.Name)"
        Manufacturer="Viktor Elofsson - vktr.se"
        UpgradeCode="B1E9D22F-AA98-412E-8CC8-1097A8BC3193"
        SplashScreenSourceFile="src/Installer/Graphics/Splash.bmp"
        Version="$(var.Version)">

        <WixVariable 
            Id="WixMbaPrereqPackageId" 
            Value="Netfx4Full" />
        <WixVariable 
            Id="WixMbaPrereqLicenseUrl" 
            Value="NetfxLicense.rtf" />
            
        <util:RegistrySearch Root="HKLM"
                             Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full"
                             Value="Version"
                             Variable="Netfx4FullVersion" />

        <util:RegistrySearch Root="HKLM"
                             Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full"
                             Value="Version"
                             Variable="Netfx4x64FullVersion"
                             Win64="yes" />

        <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
            <Payload SourceFile="$(var.InstallerResources)/Hadouken.Installer.dll" />
            <Payload
                SourceFile="$(var.InstallerResources)/Hadouken.Installer.dll.config"
                Name="BootstrapperCore.config" />
            <Payload SourceFile="$(var.InstallerResources)/NetfxLicense.rtf" />
        </BootstrapperApplicationRef>
        
        <Variable Name="InstallFolder" Type="string" Value="[ProgramFilesFolder]Hadouken" />
        <Variable Name="WebInterfacePort" Type="numeric" Value="8080" />
        <Variable Name="InstallWindowsService" Type="numeric" Value="1" />
        <Variable Name="WindowsServiceAccount" Type="string" Value="" />
        <Variable Name="WindowsServicePassword" Type="string" Value="" />

        <Chain>
            <ExePackage
                Id="Netfx4Full"
                Name="dotnetfx40_full_x86_x64.exe"
                Cache="no"
                Compressed="no"
                PerMachine="yes"
                Permanent="yes"
                Vital="yes"
                DownloadUrl="http://go.microsoft.com/fwlink/?LinkId=164193"
                DetectCondition="Netfx4FullVersion AND (NOT VersionNT64 OR Netfx4x64FullVersion)">
                
                <RemotePayload
                    Description="The full .NET 4 framework"
                    Hash="58DA3D74DB353AAD03588CBB5CEA8234166D8B99"
                    ProductName="Microsoft .NET Framework 4"
                    Size="50449456"
                    Version="4.0.30319.1" />
            </ExePackage>
            
            <RollbackBoundary />
        
            <MsiPackage
                Id="Hadouken_x86"
                Compressed="no"
                DownloadUrl="https://get.hdkn.net/v$(var.Version)/hdkn-$(var.Version)-x86.msi"
                SourceFile="$(var.MsiPackage_x86)"
                InstallCondition="NOT VersionNT64"
                Vital="yes">

                <MsiProperty Name="INSTALLDIR" Value="[InstallFolder]" />
                <MsiProperty Name="HDKN_WEBUI_PORT" Value="[WebInterfacePort]" />
                <MsiProperty Name="HDKN_SRV_ENABLE" Value="[InstallWindowsService]" />
                <MsiProperty Name="HDKN_SRV_USER" Value="[WindowsServiceAccount]" />
                <MsiProperty Name="HDKN_SRV_PASS" Value="[WindowsServicePassword]" />
            </MsiPackage>
            
            <MsiPackage
                Id="Hadouken_x64"
                Compressed="no"
                DownloadUrl="https://get.hdkn.net/v$(var.Version)/hdkn-$(var.Version)-x64.msi"
                SourceFile="$(var.MsiPackage_x64)"
                InstallCondition="VersionNT64"
                Vital="yes">

                <MsiProperty Name="INSTALLDIR" Value="[InstallFolder]" />
                <MsiProperty Name="HDKN_WEBUI_PORT" Value="[WebInterfacePort]" />
                <MsiProperty Name="HDKN_SRV_ENABLE" Value="[InstallWindowsService]" />
                <MsiProperty Name="HDKN_SRV_USER" Value="[WindowsServiceAccount]" />
                <MsiProperty Name="HDKN_SRV_PASS" Value="[WindowsServicePassword]" />
            </MsiPackage>
        </Chain>
    </Bundle>
</Wix>