<?xml version="1.0" encoding="UTF-8"?>

<?if $(var.Platform) = x64?>
    <?define IsWin64 = "yes"?>
<?else?>
    <?define IsWin64 = "no"?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment>
        <ComponentGroup Id="CoreComponents" Directory="INSTALLDIR" Source="$(var.BinDir)\">
            <Component Id="HadoukenConfig" Guid="071BCF9F-4230-45DE-AB57-184E631E8B7C" Win64="$(var.IsWin64)">
                <File Id="HadoukenConfigFile" Name="Hadouken.Hosts.WindowsService.exe.config" />

                <util:XmlFile
                    Id="ModifyWebUIPort"
                    File="[#HadoukenConfigFile]"
                    Action="setValue"
                    ElementPath="//appSettings/add[\[]@key='WebUI.Url'[\]]/@value"
                    Value="http://+:[HDKN_WEBUI_PORT]/" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>