<?xml version="1.0" encoding="UTF-8"?>

<?if $(var.Platform) = x64?>
    <?define IsWin64 = "yes"?>
<?else?>
    <?define IsWin64 = "no"?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="CoreComponents" Directory="INSTALLDIR" Source="$(var.BinDir)\">
            <Component Win64="$(var.IsWin64)">
                <File Name="Hadouken.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>