<?xml version="1.0" encoding="utf-8" ?>

<?if $(var.Platform) = x64?>
    <?define UpgradeCode = "20ECE40F-2E63-4A9A-A5EB-341154EFB798"?>
    <?define InstallDir = "ProgramFiles64Folder"?>
    <?define IsWin64 = "yes"?>
<?else?>
    <?define UpgradeCode = "52A66249-5BE7-4F0B-BE83-7C7B7AED65D1"?>
    <?define InstallDir = "ProgramFilesFolder"?>
    <?define IsWin64 = "no"?>
<?endif?>

<Wix
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
    xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension">

    <Product
        Id="*"
        Name="$(var.Name)"
        Manufacturer="Viktor Elofsson - vktr.se"
        Version="$(var.Version)"
        UpgradeCode="$(var.UpgradeCode)"
        Language="1033"
        Codepage="1252">

        <?if $(var.Platform) = x64?>
        <Package Id="*"
                Description="$(var.Name) $(var.Version) (64 bit) Installer"
                InstallerVersion="300"
                Languages="1033"
                Compressed="yes"
                SummaryCodepage="1252"
                Platform="x64"
                InstallScope="perMachine"/>
        <?else?>
        <Package Id="*"
                Description="$(var.Name) $(var.Version) Installer"
                InstallerVersion="300"
                Languages="1033"
                Compressed="yes"
                SummaryCodepage="1252"
                InstallScope="perMachine" />
        <?endif?>

        <Media Id="1" Cabinet="hdkn.cab" EmbedCab="yes" CompressionLevel="high" />

        <Property Id="ARPSYSTEMCOMPONENT" Value="1" />

        <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.InstallDir)" Name="PFiles">
                <Directory Id="INSTALLDIR" Name="Hadouken" />
            </Directory>
        </Directory>

        <Feature Id="Feature_Hadouken" Title="Hadouken" Level="1">
            <Component Id="ProductRegistration" Directory="INSTALLDIR" Win64="$(var.IsWin64)">
               <RegistryKey Root="HKLM" Key="SOFTWARE\Hadouken\$(var.Version)">
                   <RegistryValue Name="InstallFolder" Value="[INSTALLDIR]" Type="string" />
               </RegistryKey>
           </Component>

            <ComponentGroupRef Id="CoreComponents" />
        </Feature>
    </Product>
</Wix>