body {
    padding-top: 50px;
}

#adt_droparea {
    border-style: dashed;
    border-color: #ccc;
    border-width: 5px;

    margin: 0 auto;

    width: 80%;
    line-height: 70px;

    font-size: 24px;
    text-align: center;
    color: #aaa;
}

.active {
    border-color: #ccc;
    color: #aaa;
}